.header {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  width: 1052px;
  min-height:105px;
  align-items: flex-start;
  margin: 92px 24px 96px;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  list-style-type: circle;
}

.menu-item:first-child {
  list-style: none;
}

.header__menu {
  display: flex;
  align-items: center;
  padding: 0 0 0 27px;
}

.menu-link {
  font-size: 18px;
  color: black;
  line-height: 24.3px;
  text-align: left;
  font-style: normal;
  text-underline-offset: 4px;
}

.menu-item {
  margin: 44px 0 40px;
  align-self: center;
}

.menu-item_active .menu-link {
  text-decoration: none;
}

.header__logo-image {
  display: block;
  height: 105px;
  width: 148px;
  margin-left: 36px;
  margin-right: 184px;
}

.header-right {
  display: flex;
  padding: 5px 25.48px 2px 0;
}

.menu-item-contacts {
  display: block;
}

.menu-item-contacts .menu-link {
  display: flex;
  flex-wrap: wrap;
  text-underline-offset: 4px;
}

.cover {
  display: flex;
  flex-direction: column;
  min-height: 757px;
  width: 1100px;
  background-image: url(../images/cover.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;
}

.cover__title {
  width: 1000px;
  height: 355px;
  margin: 165px 50px 0px 50px;
  position: relative;
  z-index: 2;
}

.accent-span {
  display: flex;
  gap: 0;
  color: rgba(255, 255, 255, 1);
  font-size: 100px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.text-left {
  width: 316px;
  line-height: 115%;
}

.text-center {
  margin: 20px 345px 0 286px;
  width: 369px;
  line-height: 100%;
}

.text-right {
  margin: 20px 0 0 583px;
  width: 417px;
  line-height: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  opacity: 0.6;
  position: absolute;
  inset: 0; 
  z-index: 1;
}

.letter-spacing-standart {
  letter-spacing: calc(100px * 0.3);
}

.letter-spacing-extended {
  letter-spacing: calc(100px * 0.6);
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  margin: 135px 50px 51px 78px;
  width: calc(637px + 79px + 256px);
  position: relative;
  z-index: 2;
}

.text-aukcion {
  display: flex;
  gap: 0;
  margin: 12px 79px 11px 0;
  width: 637px;
  color: rgba(255, 255, 255, 1);
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  font-family:inherit; 
  width: 256px;
  height: 51px;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;
}

.cover__description-text {
  color: rgba(255, 255, 255, 1);
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.lots {
  display: flex;
  flex-direction: column;
  margin: 179px 24px 146px 24px;
  width: 1052px;
}

.title {
  margin-left: 40px;
  width: 121px;
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-align: left;
  text-transform: uppercase;
}

.grid {
  display: grid;
  margin-top: 27px;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.cont {
  display: flex;
  width: 334px;
  min-height: 563px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  list-style: none;
  padding: 51px 40px 48px 40px;
}

.asd {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.children {
  background-image: url(../images/card-lot-01.jpg);
}

.door {
  background-image: url(../images/card-lot-02.jpg);
}

.abstraction {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  display: flex;
  position: relative;
  color: rgba(255, 255, 255, 1);
  width: 254px;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-align: left;
  text-transform: uppercase;
  z-index: 2;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.card__text {
  display: flex;
  margin-top: auto;
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  width: 254px;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
  z-index: 2;
}

.more {
  margin-top: 30px;
  margin-left: 40px;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  max-width: 192px;
}

.about {
  display: flex;
  flex-direction: row;
  margin: 146px 24px 180px 24px;
  width: 1052px;
  min-height: 595px;
}

.about__logo {
  margin-top: 35px;
  margin-left: 47px;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
}

.about__logo-image {
  height: 114px;
  width: 148px;
  margin-top: 64px;
  margin-left: 46.48px;
}

.inscription {
  display: flex;
  flex-direction: column;
  width: 693px;
  min-height: 449px;
  margin-top: 133px;
  margin-left: 72px;
}

.about__title {
  width: 291px;
  margin-top: 3px;
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-align: left;
  text-transform: uppercase;
}

.about__text {
  width: 693px;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.text-top {
  margin-top: 100px;
}

.text-bottom {
  margin-top: 24px;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 1000px;
  min-height: 98px;
  margin: 180px 50px 88px 50px;
}

.footer-left {
  width: 240.52px;
  min-height: 98px;
}

.footer__menu {
  display: flex;
  width: 149px;
  min-height: 64px;
  margin: 1px 185px 33px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
}

.footer__menu-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-underline-offset: 4px;
}

.footer__menu-item {
  display: block;
  align-self: center;
}

.footer__menu-item_active .footer__menu-link {
  text-decoration: none;
}

.socials {
  display: flex;
  flex-direction: row;
  width: 240px;
  min-height: 48px;
  margin-top: 1px;
  justify-content: space-between;
}

.logo {
  width: 48px;
  height: 48px;
}
